{% extends "base.html" %} 

{% block titulo %} Registrar usuario {% endblock %} 



  {% block scripts %}  

<script>
function mostrarLimite(){
	var div = document.getElementById("limite");
	if(document.getElementById("quieroLimite").checked){
		div.style.display = "block";
	}else{
		div.style.display = "none";
	}
}
</script>

<script>
function tipoCuenta(){
	
	var c1 = document.getElementById("credito");
	var c2 = document.getElementById("debito");
	var c3 = document.getElementById("monedero");
	
	var limite = document.getElementById("quieroLimite");
	var limitetxt = document.getElementById("limit");
	
	var cont = false;
	
	if(!c1.checked && !c2.checked && !c3.checked){
		document.getElementById("eligeTg").style.display = "block";
	}
	else{
		document.getElementById("eligeTg").style.display = "none";
		
		if(limite.checked && ($("#limit").val() === '0' || $("#limit").val() === '')){
			document.getElementById("eligeLim").style.display = "block";
		}
		else{
			document.getElementById("eligeLim").style.display = "none";
			cont = true;
		}
	}
	return cont;
}

</script>




  {% endblock %}
  
  {% block contenido_principal %}
  
<form class="form-horizontal" onsubmit="return tipoCuenta()">

	<div>

			<div class="radio">
				<h2> Tipo de tarjeta </h2>
		  		<label><input type="radio" id="credito" name="radio">Credito</label>
			</div>
			<div class="radio">
			 	<label><input type="radio" id="debito" name="radio">Debito</label>
			</div>
			<div class="radio">
			  	<label><input type="radio" id="monedero" name="radio">Monedero</label>
			</div>

		<div class="alert alert-danger" id="eligeTg" style="display:none;" >
			Elija un tipo de tarjeta
		</div>
		
		  	<div class="checkbox">
  		<label><input type="checkbox" id="quieroLimite" value="" onchange="mostrarLimite()" onclick="mostrarLimite()">Deseo tener un limite en la tarjeta</label>
  		<div id="limite" style="display:none;">Limite: <input type="number" name="limit" id="limit"> &euro;</div>
  		<div class="alert alert-danger" id="eligeLim" style="display:none;">
			Introduzca un limite
		</div>
	</div>
	</div>
  <p id="accountType"></p>



<p id="accountType"> </p>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Crear cuenta</button>
    </div>
  </div>
</form>
{% endblock %}

