{% extends "base.html" %} 

{% block titulo %} Cuenta {% endblock %} 

{% block scripts %}

{% endblock %} 

 {% block contenido_principal %}
 <div class="table-responsive">
	<table class="table table-hover" id="movimientos">
		<thead>
			<tr>
				<th>Cuenta emisora</th>
				<th>Cuenta receptora</th>
				<th>Cantidad</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
				<td>{{ cuenta.inputIBAN }}</td>
				<td>{{ cuenta.outputIBAN }}</td>
				<td>{{ cuenta.amount }}</td>
			</tr>
		</tbody>
	</table>
</div>
 <form action="/account/{{cuenta._id.toString()}}/makeAMove" method="get">
    <input type="submit" value="Realizar una transferencia" 
         name="Submit" id="frm1_submit" />
</form>

<form action="/account" method="get">
    <input type="submit" value="Crear cuenta" 
         name="Submit" id="frm1_submit" />
</form>
 {% endblock %} 