{% extends "base.html" %} 

{% block titulo %} Cuenta {% endblock %} 

{% block scripts %}
<script>
   function onSubmit(){ 
    var txt;
    var r = confirm("Esta seguro de dar de baja su cuenta?");
    if (r == true) {
    	var w = confirm("Pero esta usted seguro?");
    	if(w == true){
    		return true;
    	}
    	else{
    		return false;
    	}
    } else {
        return false;
    }
   }
   
   </script>
    
   <script>
	jQuery(document).ready(function($) {
	    $(".clickable-row").click(function() {
	        window.location = $(this).data("href");
	    });
	});
	</script>
{% endblock %} 

 {% block contenido_principal %}
 <div class="table-responsive">
	<table class="table table-hover" id="movimientos">
		<thead>
			<tr>
				<th>Cuenta emisora</th>
				<th>Cuenta receptora</th>
				<th>Cantidad</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		<tr>
		{% for move in moves %}
				<td>{{ cuenta.inputIBAN }}</td>
				<td>{{ cuenta.outputIBAN }}</td>
				<td>{{ cuenta.amount }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

 <div class="table-responsive">
	<table class="table table-hover" id="tarjetas">
		<thead>
			<tr>
				<th>Numero tarjeta</th>
				<th>Saldo</th>
				<th>Tipo</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for tarjeta in tarjetas %}
		<tr class='clickable-row' data-href='/account/{{account._id.toString()}}/{{tarjeta._id.toString()}}'>
				<td>{{ tarjeta.inputIBAN }}</td>
				<td>{{ tarjeta.cash }}</td>
				<td>{{ tarjeta.type }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>


 <form action="/account/{{cuenta._id.toString()}}/tarjeta" method="get">
    <input type="submit" value="A&#241;adir una tarjeta" 
         name="Submit" id="frm1_submit" />
</form>


 <form action="/account/{{cuenta._id.toString()}}/makeAMove" method="get">
    <input type="submit" value="Realizar una transferencia" 
         name="Submit" id="frm1_submit" />
</form>

<form method="post" action="/unsuscribe/{{cuenta._id.toString()}}" method="post" onsubmit="return onSubmit()">
    <input type="submit" value="Dar de baja" 
         name="Submit" />
</form>
 {% endblock %} 